{% extends 'layout.html' %}
{% block content %}
    <div class="middle">
        <div class="area">
            <div>
                <p id="gln">Личный кабинет {{ session['gln'] }}</p>
            </div>
            <div class="area-menu">
                <ul>
                    <li><a href="{{ url_for('marked') }}">Маркированная продукция</a></li>
                </ul>
            </div>
        </div>
        <h1>Документ регистрации</h1>
        <!-- <br> -->
        {{ message|safe }}
        <form id="desktop" action="{{ url_for('action20') }}" method="POST">
            <table class="area-table">
                <tr class="area-table">
                    <td class="area-table-td">
                        глобальный номер товарной продукции GTIN
                    </td>
                    <td id="sc-cell" class="area-table-td">
                        <textarea name="gtin" required></textarea>
                    </td>
                </tr>

                <tr class="area-table">
                    <td class="area-table-td">
                        контрольный идентификационный знак КИЗ
                    </td>
                    <td id="sc-cell" class="area-table-td">
                        <textarea name='kiz' required></textarea>
                    </td>
                </tr>

                <tr class="area-table">
                    <td class="area-table-td">
                        серийный номер контрольного идентификационного знака TID
                    </td>
                    <td id="sc-cell" class="area-table-td">
                        <textarea name='tid' required></textarea>
                    </td>
                </tr>

                <tr class="area-table">
                    <td class="area-table-td">
                        электронная почта
                    </td>
                    <td id="sc-cell" class="area-table-td">
                        <input type="email" name='email' required>
                    </td>
                </tr>

                <tr class="area-table">
                    <td class="area-table-td">
                        <label for="product_type">тип маркируемого товара</label>
                    </td>
                    <td  id="sc-cell" class="area-table-td">
                        <select id="product_type" name="product_type">
                            <option value="0">новый</option>
                            <option value="1" selected="">комиссионный</option>
                            <option value="2">возвратный</option>
                        </select>
                    </td>
                </tr>
                <tr class="area-table">
                    <td></td>
                    <td id="sc-cell" class="area-table-td">
                        <input id="submit" type="submit" value="Получить документ">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
