{% extends 'layout.html' %}
{% block content %}
    <div class="middle">
        <h1>Добро пожаловать</h1>
        <p>Веб приложение <i>Маркировка</i> позволяет облегчить процедуру регистрации меховых изделий согласно постановлению правительства РФ (<a href="https://base.garant.ru/71465032/" target="_blank">ссылка</a>)</p>

        <h2>Что требуется для маркировки</h2>
        <p>Регистрация в веб приложении <i>Маркировка</i>;</p>
        <p>Глобальный идентификационный номер (GLN), указанный в профиле личного кабинета <a href="https:\\markirovka.nalog.ru" target="_blank">markirovka.nalog.ru</a>;</p>
        <p>КиЗ и TID, указанные в списке немаркированных КиЗ в личном кабинете <a href="https:\\markirovka.nalog.ru" target="_blank">markirovka.nalog.ru</a>;</p>
        <p>GTIN - глобальные номера товарной продукции, полученные в ГС1 РУ;</p>

        <h2>Что делать дальше</h2>
        <p>После регистрации на данном ресурсе, Вам станет доступна форма, в которой требуется указать перечисленные выше данные и получить документ, который будет направлен на указанный при регистрации адрес электронной почты. После вы сможете загрузить документ в личном кабинете markirovka.nalog.ru</p>
    </div>

    <div class="footer">
    </div>
{% endblock %}
